[2014-02-06 10:28] adam-lynch opened #1 "Make sure it concatenates all files and then runs them through bless"

[2014-02-06 13:48] #1 closed, assigned to nobody

[2014-02-17 06:33] JProffitt71 opened #2 ""TypeError: Arguments to path.resolve must be strings""
This was the error I'd receive when using this code:

[code]

Adapted from your code:

[code]

The output of `bless('assets/css/ie.min.css)` appears to be:

[code]

[2014-05-28 10:18] adam-lynch opened #3 "Look into making fileName optional"
Must be backwards compatible

[2014-05-28 21:26] #3 closed, assigned to nobody

[2014-06-24 10:08] #2 closed, assigned to nobody

[2014-09-18 09:09] NielsDoucet opened #10 "Plugin does not respect bless defaults"
When passing options to the bless module, the defaults defined by that node module are not respected.
The issue we ran into was the fact that if you do not pass "cacheBuster: true" to the gulp-bless plugin, it overwrites bless's default to add a cachebuster to the import statements to avoid browser caching.

Obviously there is a work-around, by simply explicitly repeating the defaults defined by t

[2014-09-19 21:31] #10 closed, assigned to nobody

[2015-03-25 16:06] jsheffers opened #12 "File gets split and @import statement gets added but IE8 doesn't render the imported file"
I'm having trouble getting this to work, maybe I'm missing something.  Here is my gulp task.

[code]
This seems to generate the file correctly.  I get a CSS file with an @import statement at the top that is importing a blessed1.css file.  Everything seems to work ok except not all of the styles get rendered.

If I remove bless and manually split the files and reference them with the link tag it wo

[2015-03-25 16:20] jsheffers commented on #12
As a follow up, the styles I'm missing are there if I visit the stylesheet directly in the browser, they just aren't there when I use the IE dev tools.

[2015-04-14 20:52] adam-lynch commented on #12
@jsheffers ah I'm sorry I took so long getting back to you. I read the notification and mean to come back to it but forgot.

I'm not really sure. I don't use `@import` for a few reasons. Is the URL in the `@import` correct? This is pretty hard for me to troubleshoot :/ Wish I could see it.

I could be related to something else though too.

- Could it be that you're using HTML5 elements?
- In the `

[2015-04-27 20:35] Track0 opened #14 "When using gulp-bless in conjunction with gulp-sourcemaps the sourcemaps are invalid"
When running sourcemaps with bless, the sourcemaps generated are not valid, or not present. If I run the sourcemaps prior to bless it generates invalid sourcemaps. If I run bless before sourcemaps, no sourcemap is generated.

      return gulp.src(sourceFiles)
        .pipe(plumber())
        .pipe(tokenReplace(tokenOptions))
        .pipe(sourcemaps.init())
        .pipe(sass({includePaths: inclu

[2015-04-28 00:18] adam-lynch commented on #14
Ok, thanks. I guess bless needs to support sourcemap generation itself first though.

[2015-04-28 00:23] adam-lynch commented on #14
https://github.com/paulyoung/bless.js/issues/33#issuecomment-96856387

[2015-04-28 00:32] adam-lynch opened #15 "Upgrade to bless ~4.0.0"

[2015-06-08 10:20] josephnvn opened #16 "Split files are having are named as filename-blessed1.css, etc."
hi,

Is there anyway to target the suffixed name for split file, from being 'blessed' to something from options?
may be options.splitname

I just updated the plugin to do this...
blessedFiles.forEach(function (blessedFile) {
     // overwrite the name of the file...
     blessedFile.filename = blessedFile.filename.replace('blessed', options.splitname);
     stream.push(new File({ ...
....
});

Wou

[2015-06-08 10:28] josephnvn commented on #12
Try this :  imports: false
.pipe($.bless({
                        compress : true,
                        imports: false,
                        log: true
                    }))

[2015-06-08 11:05] adam-lynch commented on #12
Sure this is a problem with gulp-bless and not bless?

Side note: I really need to update this module to Bless 4

[2015-06-08 11:14] adam-lynch commented on #16
Hey Joseph,

I was just replying to your email now but then I saw this.

I'd suggest using gulp-rename. So you'd have something like:

[code]

[2015-06-08 11:15] adam-lynch commented on #12
Nevermind, 4.0.0 isn't out yet

[2015-06-08 11:15] adam-lynch commented on #15
4 isn't out yet. Need to do this on a branch.

[2015-06-08 11:23] cholawo opened #17 "Removes outer media queries if they contain nested media queries"
I give gulp bless (3.0.1) a file containing nested media queries
...

    @media (min-width: 60em) {
        // my styles..

        // a mixin that I've included might nest another media query inside
        @media (min-width: 30em) {
            // its styles
        }
    }

...

Gulp bless removes the outer media query.

I'm surprised it was bless because I thought it just counted selectors an

[2015-06-08 11:27] josephnvn commented on #16
hi Adam,

 Thanks for the reply.

 I have given it a try. Rename has to happen after the .css file physically
becomes available and therefore has to follow as a sequential task after
bless. In my project I am looping tasks for multiple projects on single
function. It would be ideal if gulp-bless could support it.

*Check my code below. *
Config is a build json file with style sheets combinations e

[2015-06-08 11:45] adam-lynch commented on #16
I don't see the problem with using gulp-rename there. What happens which isn't correct?

If you use gulp-debug and put `.pipe($.debug())` after the gulp-bless pipe, is the number of files correct?

[2015-06-08 13:12] josephnvn commented on #16
Thanks Adam...
WORKS now!
rename usage was a bit different ...

                    .pipe($.rename(function (path) {
                        path.basename = path.basename.replace('blessed', 'part');
                    }))

[2015-06-08 13:13] adam-lynch commented on #16
Ah ok, sorry my bad.

[2015-06-08 13:13] #16 closed

[2015-06-18 07:11] mapeter90 commented on #14
Is there no workaround?
In the readme of gulp-bless it says external sourcemaps can be used.
https://github.com/adam-lynch/gulp-bless#a-note-about-sourcemaps

[2015-06-18 08:59] adam-lynch commented on #14
Ah I forgot that was added in #4. By "external" I assume you mean not inline... the bit in the readme only concerns inline sourcemaps and it's recommending not to pass those even. @Harrisonbro want to chime in?

[2015-06-18 09:00] adam-lynch commented on #17
Weird, I've never had that problem myself. This gulp plugin is just a wrapper for https://github.com/paulyoung/bless.js. Could you open an issue there? (Unless you're sure the problem is with gulp-bless and not bless, then I'll reopen this)

[2015-06-18 09:00] #17 closed

[2015-07-24 17:42] mtscout6 commented on #15
We just pushed v4.0.0-alpha.0 to npm today! Please let us know how it works for you so we can be confident about getting the actual release out. Also, the Bless project has a new home at https://github.com/BlessCSS/bless. Since it is now in a github organization we'd also like to extend the invitation to transfer this repo there and add you as a member of the organization. The goal being to consol

[2015-09-24 13:39] ArtbyArjan commented on #12
@adam-lynch In your https://github.com/BlessCSS/gulp-bless/issues/12#issuecomment-93056331 you say

Are you implying you can't use HTML5 in your css? Like `header` or `section`?

[2015-09-25 09:25] adam-lynch commented on #12
@ArtbyArjan No not exactly. Just that without [html5shiv](https://github.com/afarkas/html5shiv), there might be some issues.

[2015-12-04 22:22] kevin-smets commented on #14
Any news on this? When running with gulp-bless, sourcemaps does not work at all for me. Neither external nor internal.. As soon as I remove gulp-bless from the pipeline, it's fixed :/.

[2015-12-05 18:04] adam-lynch commented on #14
@kevin-smets yeah but just in case it helps: you're probably looking for sourcemaps for debugging? I.e. in nice developer tools like Google Chrome's. You shouldn't use the "blessed" CSS files for Chrome, etc. anyway. What I'd suggest is outputting the CSS file as is, also outputting the "blessed" files, and only loading the "blessed" files for IE10- (using conditional comments).

[2015-12-16 00:09] shannonhochkins opened #19 "Split based on file size for IE <= 9"
I've also noticed that IE <=9 has a file SIZE limit of 288kb, rules are only read upto the point of the 288kb mark, IE does not read anything past this limit. I've hit this issue multiple times without actually hitting the limitations already taken care of with Bless. To make it even more awesomer it would be great if we could also factor in the file size and split accordingly.

Src: http://joshua

[2015-12-16 01:06] mtscout6 commented on #19
Related to BlessCSS/bless#41.

In general the stance has been that this isn't BlessCSS's responsibility. Have you tried running your CSS through a minifier? That would coupled with BlessCSS would likely bring your file size below the limit.

[2015-12-18 14:04] adam-lynch commented on #19
Yep.

[2015-12-18 14:04] #19 closed

[2015-12-31 11:43] cyberixae opened #20 "Cleanup not working properly with gulp-bless"
I spent some time debugging why cleanups are not working in gulp-bless. If I understand correctly the problem is that gulp-bless needs to call the `bless.Parser.cleanup` method explicitly.

The call is missing from gulp-bless https://github.com/BlessCSS/gulp-bless/blob/master/index.js
While it is present in the old command line tool https://github.com/BlessCSS/bless/blob/3.x/bin/blessc

It is poss

[2015-12-31 11:45] cyberixae commented on #20
There is a related problem in Bless which causes cleanups to fail when cache buster is being used https://github.com/BlessCSS/bless/issues/88 However I disabled cache buster before filing this bug so the gulp-bless bug should be a separate problem.

[2016-01-05 05:21] shannonhochkins commented on #19
@mtscout6 & @adam-lynch  "Bless provides an elegant solution to a lesser-known bug in Internet Explorer which causes CSS to be completely ignored.", straight from the website!

Any css after 288kb is completely ignored, might I say that this is exactly an issue relating to IE and I really do believe that this is something the Bless should take care of as it's 100% related to the tagline descriptio

[2016-02-22 22:17] BrandonNoad commented on #15
It looks like bless v4.0.0 was released/pushed to npm today: https://github.com/BlessCSS/bless/issues/89

Is it possible to update gulp-bless to use it?

Thanks

[2016-02-22 22:18] adam-lynch commented on #15
@BrandonNoad will take a look

[2016-02-23 22:27] aabenoja commented on #15
This might resolve BlessCSS/Bless#92

[2016-02-27 01:14] adam-lynch commented on #20
Sorry I missed this until now. I've just redone this as Bless 4 completely changes things. See #21. Bless has dropped that method. What did you use it for?

[2016-02-27 01:15] adam-lynch commented on #15
Ok, I think it's ready. It would be good if you two could test #21 please;

[code]

[2016-02-27 09:04] cyberixae commented on #20
We had a git repository for static hosting and a gulp task that would generate some blessed CSS files in there. Some of the files were actual static content so creating a gulp task to remove the entire directory before CSS regeneration was not an option. Anything that created a single output CSS file would simply override the old one. The problematic scenario was then using bless when the CSS outp

[2016-02-27 17:50] BrandonNoad commented on #15
When I try to build my css assets, I'm getting this when using adam-lynch/gulp-bless#bless4:

[code]

[2016-02-28 00:11] adam-lynch commented on #20
@cyberixae ah ok. I'm afraid you'll have to create a custom gulp task. Bless has removed intentionally removed this.

I could add this but it clashes with the way gulp plugins are meant to work. I have no idea where you're going to put the files (when you eventually `gulp.dest`). Even if I accepted a parameter to accept a path/glob (i.e. where to cleanup) then this is messy and generally not what

[2016-02-28 00:11] #20 closed

[2016-02-28 00:17] adam-lynch commented on #15
@BrandonNoad hmm :/. I'm not sure why that is. It looks like a problem with bless itself. @mtscout6 @paulyoung any ideas?

Disclaimer: I'm completely guessing here. Bless (or a dependency) parses your CSS (AST) so maybe some invalid CSS could cause an issue. I know the stack trace shows the problem is in `node_modules/bless/lib/counts.js` but maybe that's just a symptom shown at a later stage. Plu

[2016-02-28 03:15] BrandonNoad commented on #15
Ya, I noticed the error was in the bless module. I'm using gulp-sass to compile sass to css, and it's not throwing any errors, so I'm assuming the css is valid. Maybe the errors aren't being logged properly though...I'll have to double-check that. I'll do a bit of digging to see if I can find the root cause of the problem.

[2016-02-28 03:21] mtscout6 commented on #15
If you can provide a simple CSS input that would cause this error it would really help us dig into what the problem is exactly.

[2016-02-28 04:16] BrandonNoad commented on #15
I've narrowed it down to 2 files in the foundation-sites (v5.5.3) library (the type and offcanvas components). I'll try to find the exact cause tomorrow.

[2016-02-28 08:09] cyberixae commented on #20
I think it is possible to also write deletions into gulp streams in a relative manner. Ofcourse with bless there is the problem that you wouldn't know how many files need to be deleted. Maybe the previous input created 10 CSS files and the current one creates only 2. You would then somehow know to delete files 3-10. Maybe it is indeed better to just have a separate clean up task in gulp.

[2016-02-28 15:07] BrandonNoad commented on #15
The following css rule when run through bless seems to cause the error:

[code]

https://www.w3.org/TR/css3-page/#page-box-page-rule

[2016-02-28 16:55] adam-lynch commented on #20
Yes, relative to the input files, but that doesn't cover something like this:

[code]

Yeah.

[2016-03-20 18:10] adam-lynch commented on #15
OK I see there's a bless core issue. I'll close this and publish

[2016-03-20 18:10] #15 closed

[2016-03-20 19:26] #14 closed

[2016-03-23 17:43] daguej opened #22 "3.1.0 breaks"
After upgrading from 3.0.1 ➔ 3.1.0, my build fails with:

[code]

[2016-03-25 17:39] mwdelaneytwg commented on #22
I can report a similar problem.

    TypeError: Cannot call method 'reduce' of undefined
        at countRules (/path-to-project/node_modules/bless/lib/count.js:26:18)
        at count (/path-to-project/node_modules/bless/lib/count.js:44:14)
        at chunks$ (/path-to-project/node_modules/bless/lib/chunk.js:52:46)
        at tryCatch (/path-to-project/node_modules/babel-runtime/regenerator/runti

[2016-03-27 22:37] RedLucas commented on #22
For what it's worth, I have run into both of these problems. I'm not sure what the issue is, but it's definitely causing issues.

[2016-03-29 10:21] TomFranssen opened #23 "Use imports at the end of the file"
When using the imports option the following rule get's added to the top of the CSS file:
@import url('base-blessed1.css?z=1459246439512');
The CSS that has to be imported includes the critical CSS that has to be imported first, not after the request had been made after the @import.
This would be an ideal situation:
In base.css add the CSS until the selector limit has been reached. Then add the  @i

[2016-03-30 12:06] yvanavermaet commented on #22
I believe the problem is that gulp-bless uses bless v4 since version 3.1.0. The gulp-bless should have gone from 3.0.1 to 4.0.1 because bless v4 introduces a breaking change.

Either stick with 3.0.1 or investigate your set-up (check what bless v4 has changed in regards to bless v3)

[2016-03-31 20:28] yvanavermaet commented on #22
Btw, for reference. It's a bless issue: https://github.com/BlessCSS/bless/issues/93

[2016-04-04 18:39] scott-rothman commented on #22
I too am having the 'TypeError: Cannot call method 'reduce' of undefined'

I'm going try going with an older version that uses an older version of bless and see what I can come up with

[2016-04-04 18:42] scott-rothman commented on #22
Installing gulp-bless 3.0.1 seems to work fine

[2016-04-05 20:15] mtscout6 commented on #22
v4.0.1 of Bless was just release that should fix this. Can someone that uses this confirm?

[2016-04-05 20:34] scott-rothman commented on #22
@mtscout6 Looks good to me

[2016-04-05 20:35] scott-rothman commented on #22
Actually, I take that back, I have verbose on and it spit out the following message

`Found 4386 selector, not splitting.`

It should split when above 4095

[2016-04-12 11:56] shellscape opened #24 "Implement reporter pattern"
Cheers for the plugin. I'd like to request implementation of a reporter pattern (that you'll find on most linters, test runners, etc) so that we can choose how to display the results of the `bless` operation on our files, rather than having a predefined message output through `gutil.log`.

Typically this is done by adding a property such like `bless` to each file in the original stream, with some

[2016-05-02 12:15] GrtDev opened #25 "@imports in the wrong order."
It seems the latest version does the @imports in the wrong order.

@import url('...-blessed1.css');
@import url('...-blessed2.css');

Where blessed2 is actually the start of the original CSS.

I reverted the version to 3.0.0 and there it has the right order.

[2016-05-03 13:29] santosguilherme opened #26 "How to use gulp-bless with gulp-useref."
I would use the gulp-bless plugin to separate bower CSS files, because the generated minified file is too long and isn't processed completely in IE 9.

But the file generated by gulp-bless plugin isn't replaced in the "index.html" file by gulp-useref plugin.

The gulp useref plugin also can't join all files, would keep the structure generated by the gulp-bless plugin.

Someone has any idea?

More

[2016-05-04 02:48] santosguilherme commented on #26
Solved by removing the sourceMap.

[2016-05-04 02:48] #26 closed

[2016-05-09 10:25] mgol opened #27 "gulp-bless 3.1.0 stopped dividing files into parts"
My Gulp css task is as follows:
[code]

After upgrading `gulp-less` from `3.0.1` to `3.1.0`, the `bless` pipe:

1. Is no longer keeping the CSS files minified, it beautifies them.
2. The final files are not blessed, they're all in single undivided files.

[2016-05-09 10:26] mgol commented on #27
I understand that the logic behind Bless 4.x has changed and it now requires minification after being run but it's a breaking change nonetheless.

[2016-05-09 10:30] mgol commented on #27
Moving the `cleanCSS` line after the `bless` one makes it split files again. Weird.

[2016-07-02 23:36] adam-lynch commented on #23
I *think* that's possible without needing a change in bless itself. PRs are welcome 😃

[2016-07-02 23:37] adam-lynch commented on #24
Sounds interesting. I assume the default reporter would be what we have now

[2016-07-02 23:37] adam-lynch commented on #22
Great

[2016-07-02 23:37] #22 closed

[2016-07-02 23:39] adam-lynch commented on #27
I *think* this is fixed. See https://github.com/BlessCSS/gulp-bless/issues/22#issuecomment-205973763. Correct me if I'm wrong.

[2016-07-02 23:39] #27 closed

[2016-07-02 23:40] adam-lynch commented on #25
There seems to have been a problem in bless itself; see https://github.com/BlessCSS/gulp-bless/issues/22#issuecomment-205973763. I'll close this. Correct me if I'm wrong, but make sure you update this module and its bless dependency to their latest versions.

[2016-07-07 16:51] mderoche opened #28 "What is the correct method to incorporate sourcemaps?"
On the readme, gulp-bless indicates only that "_this can be used with gulp-sourcemaps_", but it doesn't provide any details on that usage.

I am attempting to use it in the following manner, but this ends up freezing the process:

[code]

If I put the bless before the sourcemaps write, then the sourcemaps never make it to the blessed CSS files.

Is this the recommended pattern and something else i

[2016-07-13 08:53] tobbas commented on #25
Hi Guys, I´m actually still having this problem. Also had to revert to version gulp-bless 3.0.0.

I see the 3.0.0 version first imports blessed2.css then blessed1.css, which gives me the CSS in correct order.
The gulp-bless 3.1.0 (bless 4.0.4), imports it the other way around.

[2016-07-21 09:02] entozoon commented on #28
+1

[2016-07-21 09:35] entozoon commented on #28
My current workaround is to have two separate gulp modes - development and product that run like this:
Development: Adds sourcemaps (no minification or bless)
Production: Bless and minification (no sourcemaps)

(this can all be done in the same gulp file using gulp-util if statements within the various .pipe() )

[2016-07-30 17:49] adam-lynch commented on #28
@mderoche you need to put `.pipe(sourcemaps.write())` at the end before you `gulp.dest`. See https://www.npmjs.com/package/gulp-sourcemaps#usage. Let me know if this doesn't work and I'll investigate with you.

@entozoon yeah that's good but only a separate topic. @mderoche is having trouble writing sourcemaps at all (not dev vs. prod).

[2016-07-30 17:49] #28 closed

[2016-07-30 17:51] adam-lynch commented on #12
Going to close this as bless was rewritten.

[2016-07-30 17:51] #12 closed

[2016-07-30 17:53] adam-lynch commented on #25
@tobbas @peterkr can you give me an example project which reproduces this please?

[2016-09-23 12:59] leomao10 opened #33 "Chrome raise `Failed to parse SourceMap` when I add `bless()` to gulp task"
Hi There,

When I tried to apply `bless` in our gulp task, we found that Chrome raise following error:

[code]

I tried to compare the difference between the source file it generated before and after gulp task and found that in origin file, source file format looks like this:

[code]

Chrome do not complain for this format.

And source file generate after I added `bless()` looks like this:

[code]

[2016-09-27 14:21] sb-lc commented on #28
what should the sourcemap files look like, I already have main.css.map, should I expect to see one called main-blessed1.css.map to main my main-blessed1.css file? If thats how it works then this is not working for me. main.css has this at the end of the file:

/*# sourceMappingURL=main.css.map */

main-blessed1.css does NOT have /*# sourceMappingURL=main-blessed1.css.map */

[2016-09-27 14:57] adam-lynch commented on #28
@sb-lc you should have a single sourcemap file which contains references for each manipulation to the file.

[2016-09-27 15:53] sb-lc commented on #28
thanks, there is no reference to my dist css files in the map file, i thought the link was in the css, like /*# sourceMappingURL=main.css.map */. that is what I have but no equivalent linkage to the blessed css file

[2016-09-27 15:55] sb-lc commented on #28
on further inspection, there is actuall a reference in the map file but just to main.css

"file":"main.css"

no mention of the blessed css file

[2016-09-27 15:55] sb-lc commented on #28
ah isee, the link is in the main.css file @import url('main-blessed1.css?z=20');

[2016-09-27 15:56] sb-lc commented on #28
so am i right in thinking that there should be only one map file (main.css.map) ?

[2016-09-27 16:27] adam-lynch commented on #28
Yep

[2016-09-27 22:30] adam-lynch commented on #33
Hmm I'm not sure why that's happening. Could you try running a gulp task like this?

[code]

Does it still not work? Is there any useful information logged to the console?

Also, try with `.pipe($.sourcemaps.init({ debug: true, identityMap: true }))`

[2016-09-28 12:42] leomao10 commented on #33
Hey @adam-lynch

I need to keey these two lines:
[code]
Otherwise, the task will failed when it process `$.less`.

Removing the line for `$.autoprefixer()` doesn't help, also `.pipe($.sourcemaps.init({ debug: true, identityMap: true }))` gave me the same output:

[code]

What it complained is it can't find `index.css`, but I only has `index.less` file not `index.css` file.

[2016-09-28 13:48] wuifdesign commented on #25
having the same problem (3.0.0 works fine)

[2016-09-28 23:37] alvinlin123 commented on #33
I may be talking nonsense here but from my brief research the mapping file produced by gulp-bless seems to have the wrong `mappings` values, it looks the plugin embedded a map inside the `mappings` field. I suspect the function [addSourceMap](https://github.com/BlessCSS/gulp-bless/blob/master/index.js#L56-L65) is passing in the wrong second argument?

I think we probably need to call the `applySou

[2016-10-09 01:40] adam-lynch commented on #33
@alvinlin123 wow, looks like you're right. See https://github.com/BlessCSS/gulp-bless/pull/34... I think that fixes it.

@leomao10 to test my changes on that branch you could `npm install --save-dev git://github.com/BlessCSS/gulp-bless.git#fixing_sourcemaps` and then run your gulp task as normal.

[2016-10-09 18:51] adam-lynch commented on #25
@wuifdesign can you give me an example projects which reproduces the problem or submit a pull-request with a test that proves it?

[2016-10-10 15:21] wuifdesign commented on #25
@adam-lynch Built a small demo: https://github.com/wuifdesign/gulp-bless-test

in the css:

[code]

But `test-blessed2.css` includes the `.item-1` style and should be loaded first.
So this would be the right order:

[code]

[2016-10-11 17:47] alvinlin123 commented on #25
probably due to lhttps://github.com/BlessCSS/gulp-bless/blob/master/index.js#L133 where `j` is used instead of `newIndex` ? I will see if I can submit a PR soon.

[2016-10-11 22:23] adam-lynch commented on #25
Thanks @wuifdesign!

Great @alvinlin123. I'll review as soon as I can but I'm a little busy this week.

By the way, this is such a major bug to how this plugin works, people must be relying on this incorrect behaviour. For that reason, when we fix it, should it be a major version bump? I.e. to avoid this breaking user's code.

- Current version: 3.2.0
- Typical bug fix version bump: 3.2.1
- Major

[2016-11-25 20:06] alvinlin123 commented on #25
@adam-lynch I agree with bumping the version, but I have a feeling that maybe we should bump the minor version (i.e. to 3.3.0). Bumping the major version makes it sound like we released new awesome significant feature or that we depend on newer major version of bless  :)

[2017-01-04 10:21] entozoon opened #36 "Sourcemaps not working when not enough css to split"
When there isn't quite enough CSS for it to split to separate files, the sourcemaps outputs only a small amount of empty base64 data that decodes to:
`{"version":3,"file":"site.min.css","sources":["site.min.css"],"sourcesContent":[]}`

Whereas when adding more CSS to the point it splits into a separated blessed file, the sourcemaps in both generated files are just fine.

Hard to tell if it's an is

[2017-01-04 20:17] alvinlin123 commented on #36
I have a hunch that this is related to https://github.com/BlessCSS/gulp-bless/issues/33. Do you happen to have a example project I can take a look at? Don't worry if you don't I will try to debug it bit later when I have some free time.

[2017-01-05 09:17] entozoon commented on #36
Not a public project as such but you're welcome to look through my gulpfile -
https://github.com/entozoon/lapis-compiler/blob/master/gulpfile.js#L153

I tried to use the fixing_sourcemaps branch with the command mentioned:
https://github.com/BlessCSS/gulp-bless/issues/33#issuecomment-252458538

But it didn't play nice:
`
                map.file = fileToAddTo.relative;
                         ^
T

[2017-01-06 22:23] alvinlin123 commented on #36
I think I know what happened, I will work on a fix that is based on fix for #33

[2017-01-06 23:35] alvinlin123 commented on #36
Ok I lied, I didn't make my fix on top of the fix for #33 as I found some other issue within the fix. I put my fix in base on `master` instead.

@entozoon if possible can you get the fix from `https://github.com/alvinlin123/gulp-bless.git` and see if it solves  your problem (sorry I don't have write access to the main repo yet ...).

[2017-01-09 09:34] entozoon commented on #36
Hello, I've tried a few things but to no avail I'm afraid.
Perhaps I need a specific branch? I separately tried the following in my gulpfile's dependencies (and `npm update` of course)
[code]
They both compile but no change, i.e. no sourcemap output

[2017-01-09 19:09] alvinlin123 commented on #36
Hmm okay, after a big of more trial and error, I found that gulp-bless does not play well with gulp-concat ... need to look further why.

[2017-01-09 21:20] alvinlin123 commented on #36
Okay, so, to combine gulp-bless with gulp-concat we will actually need the fix for issue #33 as well.

@entozoon, sorry, but can you give it another test using `git://github.com/alvinlin123/gulp-bless.git#fixing-issue-36` ? I have merged the fix of #33 in to my personal branch, thanks!

[2017-01-10 09:59] entozoon commented on #36
I wish I could say it was working but I'm afraid not :(
If I have scss that compiles to a single 185kb file (unminified), it only contains this sourcemap at the end:
[code]

However if I cut and paste a bunch of @imports such that it splits to two separate files - 39kb and 257kb, they both then contain the full sourcemap data.

(Without including gulp-bless, they both compile with appropriate sour

[2017-01-10 19:52] alvinlin123 commented on #36
Hi @entozoon, I tried with similar setup you have and used the gulp-bless from `git://github.com/alvinlin123/gulp-bless.git#fixing-issue-36` branch and I was able to get correct source map at the end of the css file.

Can we try this? I have created a test project at `https://github.com/alvinlin123/gulp-bless-issue36-sample` can you clone that project and inspect the `gulpfile.js` and `css/*.scss`

[2017-01-11 10:21] entozoon commented on #36
Thank you very much for this, I massively appreciate the effort you're going to!
I've cloned it, and ran the commands exactly as you suggest.. and it totally works (Node v7.0.0).
Well, it didn't work with `yarn install` at first (I guess it had an older version cached) but `npm install` did.
So I reckon you've fixed it!
It doesn't quite work right with my lapis-compiler setup but that's no doubt a

[2017-01-11 19:01] alvinlin123 commented on #36
No problem let me know if you encounter any other issue.

[2017-01-11 23:18] alvinlin123 commented on #33
The fix for this issue has been released to npm in version 3.2.1. Closing this issue.

[2017-01-11 23:18] #33 closed

[2017-01-11 23:19] alvinlin123 commented on #36
@entozoon just FYI I have release this fix to version 3.2.1 on npm, feel free to use that version instead of my personal branch :)

[2017-01-12 09:00] entozoon commented on #36
Wonderful, thanks again :D

[2017-01-12 10:43] entozoon commented on #36
So sorry to re-open the issue, you must be sick of me by now!
I've looked closer at our test repo (forked here:)
https://github.com/entozoon/gulp-bless-issue36-sample

And although it is outputting sourcemap data, it's actually wrong.
If you look at the index.html and inspect element (chrome with sourcemaps enabled) you can see that it shows the css properties line numbers in the compiled css file

[2017-01-12 11:58] alvinlin123 commented on #36
No worry man, I'm glad you report the problem. I have been wondering how bless/gulp-bless when stack it with gulp-concat and sounds like it's not working as expected heh.

I will take a look. However I am going to close this issue and create a new one so we keep one problem to one issue :)

[2017-01-12 11:58] #36 closed

[2017-01-12 12:00] alvinlin123 opened #38 "produced sourcemap seems to have wrong mapping"
This is an follow up issue of #36

Below is @entozoon's original words:

I've looked closer at our test repo (forked here:)
https://github.com/entozoon/gulp-bless-issue36-sample

And although it is outputting sourcemap data, it's actually wrong.
If you look at the index.html and inspect element (chrome with sourcemaps enabled) you can see that it shows the css properties line numbers in the compil

[2017-01-12 12:02] alvinlin123 commented on #36
@entozoon and issued  #38 is created :) feel free to watch that issue.

[2017-01-12 12:09] alvinlin123 commented on #38
Hmm from just briefly looking at the code it looks like it may be expected behaviour. Since the css is concatenated before passing to gulp-bless, so the mapping is based on the concatenated css.

But I may be wrong, I will have to look further.

[2017-01-12 12:43] entozoon commented on #38
I thought that might be the case too but actually the mapping somehow outputs correctly, despite concatenation, based on the original sass (if bless isn't included)

[2017-01-13 04:54] alvinlin123 commented on #38
@entozoon So I was wrong. I thought it's expected behaviour based on the existing code (I'm new to all the source mapping stuff). After researching source mapping a little bit more, I figured that the "expected behaviour" is actually wrong, the mapping should map all the way back to the original file that a coder wrote, not some intermediated compiled source. So yea your right, thanks for reportin

[2017-01-17 18:41] mderoche commented on #38
@alvinlin123 great fix, thanks!

[2017-02-03 01:25] jziggas opened #40 "Minified bless files not showing @import rules"
Hi there,

Am I understanding this correctly? That by default the first blessed file is supposed to @import the rest of them?

If I concat a bunch of CSS sources, then bless it, then minify, I end up with `app.full.min.css` and `app.full.min.part2.css`

Except I don't see an `@import` anywhere in either of the two files, so I'm using [gulp-inject](https://github.com/klei/gulp-inject) to insert lin

[2017-02-03 06:02] alvinlin123 commented on #40
Yes, by default @import should be added to the "master" css file.

Which CSS minifier are you using? I am asking this because I know that clean-css, with default optimization strategies, does not work well with gulp-bless. Like it will actually increase the number of CSS selectors in the split css files.

Do you have any sample project to demonstrate this problem?

[2017-02-03 14:23] jziggas commented on #40
We're using [gulp-cssmin](https://github.com/chilijung/gulp-cssmin). I could perhaps give you an example function in a private gist. Sorry to be a pain.

[2017-02-04 12:41] alvinlin123 commented on #40
Yea, I tried gulp-cssmin and that's indeed the problem. gulp-cssmin uses cleanCss underneath, which I am aware that it will minify the css a little bit too well.

To solve the problem of `@import` gone missing do the following:

[code]
Also, regarding the ordering, it's probably related to issue #25 .

[2017-02-04 12:43] alvinlin123 commented on #40
I am closing this issue for now as the problem is with other gulp plugin. Feel free to re-open this issue if needed.

[2017-02-04 12:43] #40 closed

[2017-02-07 15:57] jziggas commented on #40
Thanks for the help. That doesn't seem to be working either. Do you have another CSS minifier you recommend?

[2017-02-07 18:58] alvinlin123 commented on #40
I usually use `gulp-clean-css` like following:

[code]

[2017-02-07 19:45] jziggas commented on #40
Ahhh it is working actually, I forgot I had explicitly added `imports: false` to gulp-bless since it wasn't including them anyway. Once I removed that option, then the two config options you suggested for gulp-css-min seem to have done the trick. Thanks again!

[2017-02-18 00:49] MannyC opened #41 "Issue using gulp-bless and gulp-rev"
I had an issue using this plug-in in conjunction with gulp-rev

Gulp-rev [stores some metadata on the vinyl files](https://github.com/sindresorhus/gulp-rev/blob/master/index.js#L27-L29) which it [later uses to create a manifest](https://github.com/sindresorhus/gulp-rev/blob/master/index.js#L123-L131).

Because gulp-bless [creates new vinyl files](https://github.com/BlessCSS/gulp-bless/blob/master/

[2017-02-22 13:34] adam-lynch commented on #41
Thanks for this. This could hypothetically happen with a lot of other plugins. On one hand I see that we could copy the metadata but on the other hand, someone could argue that that isn't always right. Like what if the metadata property has to be unique or is somehow related to the content of the file. I'm not sure.

[2017-03-29 12:56] FreWillems opened #42 "Make the cacheBuster key definable by setting an options"
HI guys,

I'm currently working in an environment where we have to specifically allow get parameters. We are behind Akamai and they ignore all not allowed params. We have a company wide standard for our cacheBuster keys, 'c'. So I was looking for an option to set the key, and I was surprised to see this is not possible.

What about changing options.cacheBuster so it can contain a string. So when t

[2017-04-20 09:13] SergTanchenko opened #43 "Is README.md up-to-date?"
Piece of text from README.md:

**Is it truth?**

I'm using gulp-bless 3.2.1
I have a big css file **styles.min.css**. After bless is applied I got:
- **styles.min-blessed1.css**
- **styles.min.css**

**styles.min.css** contains this `@import url("styles.min-blessed1.css?z=25");`

It is not correct behavior according to documentation, isn't it?

[2017-06-04 23:11] adam-lynch commented on #25
4.0.0 released with a fix. Thanks for reporting.

[2017-06-04 23:11] #25 closed

[2017-06-04 23:12] adam-lynch commented on #38
4.0.0 released with the fix. Thanks! 😁

[2017-06-04 23:12] #38 closed

[2017-06-05 01:03] alvinlin123 commented on #38
Thanks Adam!

[2017-09-15 18:11] charginghawk commented on #38
The issue-38-fix branch was deleted. If I was using that, is the 4.0.0 release identical, or are there other concerns with it, being a major update and all?

[2017-09-15 18:33] alvinlin123 commented on #38
Yup 4.0.0 is identical to issue-38-fix branch. The major version was bumped because the fix introduces some backward incompatibility.

[2017-09-15 18:36] alvinlin123 commented on #43
@SergTanchenko ``sytle.min.css`` is actually consider as "first chcunk" so I think the documentation is correct; we probably can change the wording a bit if you find it confusing, or we can add examples?

[2017-09-15 18:39] alvinlin123 commented on #42
Sounds like a good idea, feel free to submit a pull request or I can make it happen when I find some time.

[2017-09-16 10:14] SergTanchenko commented on #43
great idea about examples, I think it will be helpful

[2017-09-16 10:14] #43 closed

[2018-05-10 14:34] anselmbradford opened #45 "gulp-util is deprecated"
gulp-util is a project dependency, but it is deprecated.
See https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5

[2018-05-24 07:04] alvinlin123 commented on #45
I will try to find some time this or next week to migrate off gulp-util.

[2018-05-24 07:08] TheDancingCode commented on #45
There's already a pull request for it. See #44.

[2018-05-24 07:15] alvinlin123 commented on #45
Ah okay, didn't realize it. Thanks for pointing it out.

[2018-06-06 11:07] gosteev opened #46 "Strange file order"
Hello. I decided to switch from grunt to gulp, and seems like grunt-bless had different file order.

| Gulp      | Grunt     |
|-----------|-----------|
| file.css  | file.css  |
| file1.css | file4.css |
| file2.css | file3.css |
| file3.css | file2.css |
| file4.css | file1.css |

i can't proceed with that, is there a fast way to switch order? making that as options would be perfect

[2018-07-11 10:39] quisse commented on #40
`processImport` is `inline` since cleanCSS 4.0

[2019-09-05 20:18] vibhutivj opened #49 "Use of deprecated fs-promise@0.5.0"
Using `"gulp-bless": "^4.0.0"` in package.json
Gives warning:

Running ``npm ls fs-promise``
<div>
`-- gulp-bless@4.0.1
</div>
<div>
 &nbsp;&nbsp;`-- bless@4.0.4
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;`-- fs-promise@0.5.0
</div>

Can i ignore this warning
Should this be reported to bless? as bless 4.0.4 is the last released version

[2020-07-20 23:28] grbbabu opened #50 "TypeError: Cannot redefine property: name"
Hi,

I am getting the below error while performing css file split. The reason for the error is due to security patch done in "thenify" library (https://github.com/thenables/thenify/pull/30)

15:30:37] Starting 'build:bless'...
[15:30:37] 'build:bless' errored after 36 ms
[15:30:37] TypeError: Cannot redefine property: name
    at Function.defineProperty (native)
    at createWrapper (/build/worksp